*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.container {
     max-width: 130rem;
     margin: 0 auto;
     padding: 0 119px;
   }

/*********Nav bar********/
.nav-all{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 39px;
}
.list{
    flex-grow: 1;
    padding-left: 62px;
}
.menu-list{
     display: flex;
     align-items: center;
     list-style: none;
     gap: 40px;
     font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     color: #000;
}
.menu-list li{
     cursor: pointer;
}
.menu-list li:hover {
     color: #5955b3;
}
.nav-button{
     padding: 14px 28px;
     background-color: #5955b3;
     border-radius: 12px;
     border: none;
     display: flex;
     align-items: center;
     line-height: 24px;
     font-weight: 500;
     font-size: 16px;
     text-align: center;
     color: #ffffff;
}
/*****Hero section******/
.contain{
     display: flex;
     align-items: center;
     margin-top: 55px;
     justify-content: space-between;
}
.main-text{
     font-weight: 600;
     font-size: 64px;
     line-height: 74px;
     color: #3c2f60;
}
.main-text span{
     color: #5955b3;
}
.note{
     font-weight: 400;
     font-size: 18px;
     letter-spacing: 0.1rem;
     color: #828282;
     margin-top: 15px;
     line-height: 24px;
}
.main-btton{
     padding: 14px 28px;
     background-color: #5955b3;
     border-radius: 12px;
     border: none;
     display: flex;
     align-items: center;
     line-height: 24px;
     font-weight: 500;
     font-size: 16px;
     text-align: center;
     color: #ffffff;
     margin-top: 47px;
}
